.container {
  display: flex;
  justify-content: space-between;
  height: 5rem;

  .logo {
    height: 3rem;
    width: 3rem;
    margin: 1rem;
    filter: drop-shadow(0px 0px 3px var(--color-background-logo));
  }

  .status {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 1rem 1.5rem;
    cursor: default;

    .connected {
      color: var(--color-status-connected);
    }

    .disconnected {
      color: var(--color-status-disconnected);
    }
  }
}
